In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Present_Price
0,ritz,2014,3.35,27000,Petrol,Dealer,Manual,0,5.59
1,sx4,2013,4.75,43000,Diesel,Dealer,Manual,0,9.54
2,ciaz,2017,7.25,6900,Petrol,Dealer,Manual,0,9.85
3,wagon r,2011,2.85,5200,Petrol,Dealer,Manual,0,4.15
4,swift,2014,4.60,42450,Diesel,Dealer,Manual,0,6.87

In [18]:
df.shape

(301, 9)

In [19]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
Present_Price    float64
dtype: object

In [20]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [21]:
df['Fuel_Type'].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [22]:
df['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [23]:
df['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
cat_cols = [i for i in df.columns if df[i].dtypes=='object']
print(cat_cols)

['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']

In [26]:
lb = LabelEncoder()
for i in cat_cols:
    df[i] = lb.fit_transform(df[i])

In [27]:
df.dtypes

Car_Name           int32
Year               int64
Selling_Price    float64
Kms_Driven         int64
Fuel_Type          int32
Seller_Type        int32
Transmission       int32
Owner              int64
Present_Price    float64
dtype: object

In [28]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [29]:
x

,Car_Name,Year,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,2014,3.35,27000,2,0,1,0
1,93,2013,4.75,43000,1,0,1,0
2,68,2017,7.25,6900,2,0,1,0
3,96,2011,2.85,5200,2,0,1,0
4,92,2014,4.60,42450,1,0,1,0
...,...,...,...,...,...,...,...,...
296,69,2016,9.50,33988,1,0,1,0
297,66,2015,4.00,60000,2,0,1,0
298,69,2009,3.35,87934,2,0,1,0
299,69,2017,11.50,9000,1,0,1,0
300,66,2016,5.30,5464,2,0,1,0

In [30]:
x.shape

(301, 8)

In [31]:
y

0       5.59
1       9.54
2       9.85
3       4.15
4       6.87
       ...
296    11.60
297     5.90
298    11.00
299    12.50
300     5.90
Name: Present_Price, Length: 301, dtype: float64

In [32]:
y.shape

(301,)

# Linear Regression Model

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(225, 8)
(76, 8)
(225,)
(76,)

In [35]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [37]:
def gen_metrics(y_test,ypred):
    mae = mean_absolute_error(y_test,ypred)
    mse = mean_squared_error(y_test,ypred)
    rmse = np.sqrt(mean_squared_error(y_test,ypred))
    r2s = r2_score(y_test,ypred)
    return mae,mse,rmse,r2s

In [38]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [39]:
# R2 score
print('Training score',m1.score(x_train,y_train))
print('Testing score',m1.score(x_test,y_test))

Training score 0.8431275791643602
Testing score 0.8178574329862014

In [40]:
ypred_m1 = m1.predict(x_test)

In [41]:
mae,mse,rmse,r2s = gen_metrics(y_test,ypred_m1)
print('MAE',mae)
print('MSE',mse)
print('RMSE',rmse)
print('R2_Score',r2s)

MAE 2.107099458783933
MSE 10.548450159648453
RMSE 3.2478377668301803
R2_Score 0.8178574329862014